<form class="editStop" ng-submit="vm.update()">
  <div class="form-group">
    <input class="form-control" type="text" name="name" ng-model="vm.stop.country.name">
  </div>
  <div class="form-group">
    <input class="form-control" type="text" name="image" ng-model="vm.stop.country.image">
  </div>
  <div class="form-group">
    <input class="form-control" type="text" name="date" ng-model="vm.stop.date">
  </div>

  <div>
    <div>
      <input class="form-button" type="submit" value="Update Stop">
    </div>
  </div>
</form>
