<div class="container-fluid">
  <div class="row">
    <div class="profile-info col-md-4">
      <img class="profile-image" src="{{ vm.user.image }}" alt="Profile Picture" width="300">
      <h1>{{ vm.user.username }}'s Profile</h1>
      <p>{{ vm.user.twitter }}</p>
      <p>{{ vm.user.facebook }}</p>
      <p>{{ vm.user.about }}</p>
    </div>
  </div>
  <!-- <button class="user-edit-button" type="button" ui-sref="usersEdit({ id: usersProfile.user._id })">Edit</button> -->
  <h2>My Trips</h2>
  <button ui-sref="tripsNew">Add a Trip</button>
  <ul>
    <li ng-repeat="trip in vm.user.trips">
      <p ui-sref="tripsShow({ id: trip.id })">{{ trip.name }}</p>
      <!-- <p>{{ trip.stops }} </p> -->
      <!-- <p ng-repeat="stop in vm.trip.stops">{{stop.country.name}}</p> -->
    </li>
  </ul>
</div>
