<div>

<div class="profileInfo">
  <div class="profileTitle">
    <h1>{{ vm.user.username }}</h1>
  </div>

  <div class="userBtn">
    <button class="editUserBtn" type="button" ui-sref="usersEdit({ id: usersShow.user.id })">Edit</button>
  </div>
</div>

  <div class="profileInfo">
    <div class="profileImage">
      <img class="img-circle" src="{{ vm.user.image }}" alt="Profile Picture">
    </div>
    <div class="profileDetails">
      <p>{{ vm.user.about }}</p>
      <img class="twitterIcon" src="http://i.imgur.com/O9TEa67.png" alt="" ng-click="{{vm.user.twitter}}">
      <a ui-sref="{{vm.user.facebook}}"><img class="twitterIcon" src="http://i.imgur.com/cX6xlM6.png" alt=""></a>
    </div>
  </div>


  <div class="trips">
    <div class="tripTitle">
      <h2>My Trips</h2>
    </div>

    <div class="tripBtnAdd">
      <button class="addTripBtn" ui-sref="tripsNew">Add a Trip</button>
    </div>

    <div class="row">
      <div ng-repeat="trip in vm.user.trips" class="col-md-2">

        <div class="container">
        <a ui-sref="tripsShow({ id: trip.id })"><img class="tripImage" src="{{ trip.image }}" alt="tripImage"></a>
        <a ui-sref="tripsShow({ id: trip.id })"><p class="tripText">{{ trip.name }}</p></a>
        </div>

      </div>
    </div>
  </div>

</div>
