<div class="tripInfo">

  <div id="container">
    <img class="tripMainImage" src="{{ vm.trip.image }}" alt="Trip Image">
    <div class="tripTitleName">
      <h1 class="tripShowName">{{ vm.trip.name }}</h1>
    </div>
  </div>

</div>

<div class="stops">

<div class="stopsTitle">
  <h3>Current stops for {{ vm.trip.name }}</h3>
</div>

<div class="stopsAddBtn">
  <button class="stopsBtnAdd" ui-sref="stopsNew({id: vm.trip.id })">Add stop</button>
</div>

<div class="stopsEditBtn">
  <button class="stopsBtnEdit" type="button" ui-sref="stopsEdit({ id: vm.trip.id })">Edit</button>
</div>


<div class="row">
  <div ng-repeat="stop in vm.trip.stops" class="col-md-2">

    <div class="container">
      <a ui-sref="countriesShow({ id: stop.country.id })"><img class="countryFlag" src="{{ stop.country.image }}" alt="Country Flag" width="300"></a>

      <p class="stopText">{{ stop.country.name }} {{ stop.date | date:  "dd.MM.y"  }}</p>
      <!-- <p class="stopDate">{{ stop.date }}</p> -->
  </div>
</div>
</div>
</div>
