<div class="parallax">


    <!--First section-->
    <div id="section-1" class="parallax-section">
        <!--Parallax content-->
        <div class="parallax-layer parallax-layer-base">

            <!--Container to center the content-->
            <div class="full-bg-img flex-center">


                        <h1 class="h1-responsive wow fadeInDown" data-wow-delay="0.2s">WanderPal</h1>
                          <img ng-src="/images/" class="" alt="WanderPal" ui-sref="home">

            </div>
            <!--/Container to center the content-->

        </div>
        <!--/Parallax content-->

        <!--Parallax background-->
        <div class="parallax-layer parallax-layer-back">
        </div>
        <!--/Parallax background-->

    </div>
    <!--/First section-->

    <!--Dummy Content-->
    <div id="section-2">
        <div class="container text-center pt-1 mb-3">

            <div class="row">
                <div class="col-md-12 text-center">

                </div>
            </div>

        </div>
    </div>

    <div id="section-3">
        <div class="container text-center pt-1 mb-3">

            <div class="row">
                <div class="col-md-12 text-center">

                </div>
            </div>

        </div>
    </div>
    <!--Dummy Content-->

</div>
<footer class="footerB pv4 ph3 ph5-m ph6-l mid-gray">
    <small class="f6 db tc">© 2017 <b class="ttu">Qwerty</b>. All Rights Reserved</small>
    <div class="tc mt3">
      <a href="/language/" title="Language" class="f6 dib ph2 link mid-gray dim">Language</a>
      <a href="/terms/"    title="Terms" class="f6 dib ph2 link mid-gray dim">Terms of Use</a>
      <a href="/privacy/"  title="Privacy" class="f6 dib ph2 link mid-gray dim">Privacy</a>
    </div>
</footer>
<!--/Main parallax wrapper-->
