<header>
<a href="home">Logo
</a>
<!-- <h1>Register</h1> -->
</header>
<form class="register" ng-submit="register.register()" name="register.registerForm" novalidate>
  <div class="form-group">
    <input class="form-control" type="text" name="username" ng-model="register.user.username" placeholder="Username" required>
  </div>
  <div class="form-group">
    <input class="form-control" type="text" name="firstname" ng-model="register.user.first_name" placeholder="First Name" required>
  </div>
  <div class="form-group">
    <input class="form-control" type="text" name="lastname" ng-model="register.user.last_name" placeholder="Last Name" required>
  </div>
  <div class="form-group">
    <input class="form-control" type="email" name="email" ng-model="register.user.email" placeholder="Email" ng-pattern="register.emailValidate" required>
  </div>
  <div class="" ng-messages="register.registerForm.email.$error" ng-show="(register.registerForm.$submitted || register.registerForm.email.$touched)">
      <p ng-message="required">Please enter your email</p>
      <p ng-message="pattern">Please enter a valid email address</p>
    </div>
  <div class="form-group">
    <input class="form-control" type="text" name="image" ng-model="register.user.image" placeholder="Image" required>
  </div>
  <div class="form-group">
    <input class="form-control" type="text" name="twitter" ng-model="register.user.twitter" placeholder="Twitter Address" required>
  </div>
  <div class="form-group">
    <input class="form-control" type="text" name="facebook" ng-model="register.user.facebook" placeholder="Facebook Address" required>
  </div>
  <div class="form-group">
    <input class="form-control" type="password" name="password" ng-model="register.user.password" placeholder="Password" minlength="6" required>
  </div>
  <div class="" ng-messages="register.registerForm.password.$error" ng-show="(register.registerForm.$submitted || register.registerForm.password.$touched)">
      <p ng-message="required">Please enter a password</p>
      <p ng-message="minlength">Your password must be at least 6 characters</p>
    </div>
  <div class="form-group">
    <input class="form-control" type="password" name="passwordConfirmation" ng-model="register.user.password_confirmation" placeholder="Password confirmation" ng-pattern="register.user.password" required>
  </div>
  <div class="" ng-messages="register.registerForm.passwordConfirmation.$error" ng-show="(register.registerForm.$submitted || register.registerForm.passwordConfirmation.$touched)">
      <p ng-message="required">Please confirm your password</p>
      <p ng-message="pattern">This must match your password</p>
    </div>
  <input class="form-button" type="submit" value="Sign Up" />
</form>
