* {
  box-sizing: border-box;
}

body {
  font-family: 'PT Sans', sans-serif;
  background-color: #f6f5f4;
}

// <----NavBar---->
.navbar-default {
  background-color: #fff;
  background: #fff;
  border-color: #fff;
  height: 50px;
}

.navbar-default .navbar-brand {
  color: #000080;
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
  margin-top: 2px;
}

.nav.navbar-nav.navbar-right  li a {
  color: #000080;
  font-family: 'PT Sans', sans-serif;
  font-size: 15px;
  margin-top: 2px;
  display: inline-block;
  padding-right: 10px;
}

// <---Front Page--->
.titleHome{
  margin: 0 auto;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
}

.frontHome{
  font-size: 100px;
  color: #000080;
}

.bg{
position: fixed;
top: 0;
left: 0;
// min-width: 100%;
// min-height: 100%;
width: 100vw;
height: 100vh;
z-index: -100;
}

// <---Register Page--->

.register {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-group {
  width: 550px;
  margin: 0 auto 20px;

}

.form-button{
  background: #000080;
  color: #fff;
  margin-top: 10px;
  width: 550px;
  height: 30px;
  border: 0px;
  border-radius: 3px;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'PT Sans', sans-serif;
  border: solid 1px #000080;
}

.form-button:hover {
  background-color: #fff;
  color: #000080;
  border: solid 1px #000080;
}

// Profile Page
.profileInfo{
  margin-top: 50px;
  width: 100%;
}

.profileTitle{
  display: inline-block;
  margin-top: 10px;

  h1{
    display: inline-block;
    float: left;
    // margin-left: -10px;
  }
}

.userBtn{
  display: inline-block;
  float: right;
  margin-top: 70px;
}

.editUserBtn{
  background: #000080;
  color: #fff;
  margin-top: -50px;
  margin-right: 50px;
  width: 80px;
  height: 40px;
  border: 0px;
  border-radius: 3px;
  font-size: 15px;
  font-weight: bold;
  font-family: 'PT Sans', sans-serif;
  display: inline-block;
  float: right;
  border: solid 1px #fff;
}

.editUserBtn:hover {
  background-color: #fff;
  color: #000080;
  border: solid 1px #fff;
}

.profileInfo{
  max-width: 1200px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  overflow: hidden;
}

.img-circle{
  height: 250px;
  width: 250px;
  float: left;
  display: inline-block;
  position: relative;
  margin-top: 10px;
  margin-left: 70px;
  border: 1px black solid;
}

.profileDetails{
  display: inline-block;
  position: relative;
  width: 600px;
  margin-top: 30px;
  margin-left: 150px;
}

.twitterIcon{
  float: right;
  padding: 2px;
}

.trips{
  margin-left: 100px;
  margin-top: 50px;
  display: block;
  position: relative;
}

.tripTitle{
  display: inline-block;
  position: relative;
}

.tripBtnAdd{
  display: inline-block;
  float: right;
  margin-top: 70px;
}

.addTripBtn{
  background: #000080;
  color: #fff;
  margin-top: -50px;
  margin-right: 150px;
  width: 80px;
  height: 40px;
  border: 0px;
  border-radius: 3px;
  font-size: 15px;
  font-weight: bold;
  font-family: 'PT Sans', sans-serif;
  display: inline-block;
  float: right;
  border: solid 1px #fff;
}

.addTripBtn:hover {
  background-color: #fff;
  color: #000080;
  border: solid 1px #fff;
}

.container{
  margin-top: 10px;
  margin-bottom: 10px;
}

.tripImage{
  width: 200px;
  height: 200px;
  margin-left: -12px;
  border-radius: 3px;
  border: 1px solid black;
}

.tripText{
  margin-left: 30px;
  text-transform: uppercase;
  font-weight: bold;
  color: #000080;
}

// <---Trip Page--->
.tripInfo{
  width: 100%;
}

#container {
  height: 600px;
  width: 100%;
  position: relative;
}

.tripMainImage{
  width: 100%;
  height: 600px;
  margin-top: -20px;
  padding: 0px;
  position: absolute;
  left: 0;
  top: 0;
}

.tripTitleName {
  z-index: 100;
  color: white;
  position: absolute;
  font-size: 24px;
  font-weight: bold;
  margin: 0 auto;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
}

.tripShowName{
  font-size: 100px;
  color: #000080;
}

.stops{
  margin-left: 100px;
  margin-top: 20px;
  display: block;
  position: relative;
}

.stopsTitle{
  display: inline-block;
  position: relative;
}

.stopsAddBtn{
  display: inline-block;
  float: right;
  margin-top: 70px;
}

.stopsBtnAdd{
  background: #000080;
  color: #fff;
  margin-top: -60px;
  margin-right: 120px;
  width: 80px;
  height: 40px;
  border: 0px;
  border-radius: 3px;
  font-size: 15px;
  font-weight: bold;
  font-family: 'PT Sans', sans-serif;
  display: inline-block;
  float: right;
  border: solid 1px #fff;
}

.stopsBtnAdd:hover {
  background-color: #fff;
  color: #000080;
  border: solid 1px #fff;
}

.stopsEditBtn{
  display: inline-block;
  float: right;
  margin-top: 70px;
}

.stopsBtnEdit{
  background: #000080;
  color: #fff;
  margin-top: -60px;
  margin-right: 10px;
  width: 80px;
  height: 40px;
  border: 0px;
  border-radius: 3px;
  font-size: 15px;
  font-weight: bold;
  font-family: 'PT Sans', sans-serif;
  display: inline-block;
  float: right;
  border: solid 1px #fff;
}

.stopsBtnEdit:hover {
  background-color: #fff;
  color: #000080;
  border: solid 1px #fff;
}

.container{
  margin-bottom: 10px;
  display: inline-block;
  position: relative;
}

.countryFlag{
  margin-top: 20px;
  width: 200px;
  height: 200px;
  margin-left: -12px;
  border-radius: 3px;
  border: 1px solid black;
}

.stopText{
  margin-left: 20px;
  text-transform: uppercase;
  font-weight: bold;
  color: #000080;
}

// <---Country Page-->
.tripInfo{
  width: 100%;
}

#container {
  height: 600px;
  width: 100%;
  position: relative;
}

.countryMainImage{
  width: 100%;
  height: 600px;
  margin-top: -20px;
  padding: 0px;
  position: absolute;
  left: 0;
  top: 0;
}

.countryTitleName {
  z-index: 100;
  color: white;
  position: absolute;
  font-size: 24px;
  font-weight: bold;
  margin: 0 auto;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
}

.countryShowName{
  font-size: 100px;
  color: #fff;
}

.countryInformation{
  margin-left: 150px;
  // margin-top: 10px;
  display: inline-block;

  .countryIcons {
    margin-top: 20px;

    p{
      display: inline;
    }

    .glyphicon{
      color: #000080;
      padding-right: 10px;
      display: inline-block;
      font-size: 16px;
    }

    .glyphiconText{
      color: #000;
      padding-right: 25px;
      font-size: 16px;
    }
  }
}

.countryEditBtn{
  display: inline-block;
  float: right;
  margin-top: 70px;
}

.countryBtnEdit{
  background: #000080;
  color: #fff;
  margin-top: -60px;
  margin-right: 150px;
  width: 80px;
  height: 40px;
  border: 0px;
  border-radius: 3px;
  font-size: 15px;
  font-weight: bold;
  font-family: 'PT Sans', sans-serif;
  display: inline-block;
  float: right;
  border: solid 1px #fff;
}

.countryBtnEdit:hover {
  background-color: #fff;
  color: #000080;
  border: solid 1px #fff;
}

.visitorsTitle{
  margin-left: 150px;
}

.visitorsContainer{
  margin-bottom: 10px;
  margin-left: 150px;
  display: inline-block;
  position: relative;
}

.userProfileImage{
  margin-top: 20px;
  width: 200px;
  height: 200px;
  border-radius: 3px;
  border: 1px solid black;
}

.stopDateText{
  margin-left: 40px;
  text-transform: uppercase;
  font-weight: bold;
  color: #000080;
}

// <---Add Trip Form--->
.addTripTitle{
  margin-left: 150px;
}
